body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(150deg,purple, fuchsia,orange);
  
  }

  .container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
  }

  section{
    padding: 4rem 0 3rem;
  }

  img{
    width: 100%;
  }

  /* Header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15);
    z-index: 100;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: black;
  }

  .logo{
    font-size:  1.1rem; 
    color: var(--text-color);
    font-weight: 400;
  }

  #cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  /*Cart*/
  .cart{
    position:fixed ;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100;
    padding: 20px;
    background: var(--bg-color);
    background-color: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
  }

  .cart.active{
    right: 0;

  }

  
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: black;
  }

  .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  }

  .detail-box{
    display: grid;
    row-gap: 0.5rem;
    color: black;
  }

  .cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
  }

  .cart-price{
    font-weight: 500;
    color: black;
  }

  .cart-quantity{
    border: 1px solid var(--text-color);
    border-color: black;
    outline-color: var(--main-color);
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }

  .cart-box{
    display: grid;
    grid-template-columns:  32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: black;
  }

  .cart-remove{
    font-size: 24px;
    color: var(--main-color);
    color: black;
    cursor:pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
    color: black;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.total-price{
    margin-left: 0.5rem;
    color: black;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    background-color: purple;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer;
    color: white;
}

.btn-buy:hover{
    background: var(--text-color);
    background-color: orange;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    color: black;
}
  .section-title{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
    font-family: monserrat;
  }


  .shop {
    margin-top: 2rem;
  }

  .shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    color: white;
  }

  .product-box {
    position: relative;
  }

  .header{
    color: white;
  }

  .product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    border-color: purple;
    transition: .4s;
  }

  .product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem ;
  }

  .price {
    font-weight: 500;
  }

  .add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    background-color: purple;
    color: var(--bg-color);
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .add-cart:hover {
    background: hsl(249, 32%, 17%);
  }